@charset "utf-8";
/* CSS Document */

.we{
	height: 40px;
	width: 40px;
	font-size: 5px;
	font-family:actor;
	color:aliceblue;
	background:rgba(46,110,165,1.00);
	
}
.font{
	font-size: 30px;
}
.tu{
	width: 150px;
}

.proid{
	margin: 0px 200px 200px 0;
}
.in{
	margin-bottom: 5px;
}
.eg{
	margin-bottom: 5px;
	width: 100px;
	height: 100px;
}
.eg1{
	width: 100px;
	height: 100px;
}