@charset "utf-8";
/* CSS Document */

.we{
	margin-left:1%;
	height: 50%;
	width: 70px;
	font-size: 5px;
	font-family:actor;
}
.mg{
	margin-bottom:1%;
}
.font{
	font-size: 15px;
}
.tu{
	width: 150px;
}