@charset "utf-8";
/* CSS Document */
body{
	background: rgba(245,245,245,1.00);
}
.list-group{
	background: rgba(245,245,245,1.00);
	margin-top: 5%;
}
.blank{
	height: 100px;
}
.up{
	margin-left: 10%;
	height: 50px;
	margin-bottom: 2%;
}
.out{	
	min-height: 650px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	background: white;
}
.tu{
	height:100px;
	float: left;
	
}
.middle{
	border-top: 3px solid rgba(74,126,207,1.00);
}

.aa{
	float:left;
	margin-left: 10px;
	margin-top: 40px;	
	vertical-align: middle;
}
.aaa{
	float:left;
	margin-left: 10px;
	margin-top: 20px;	
	vertical-align: middle;
}
.col-md-8 center{
	margin-top: 20%;
}
.cc{
	background-color: rgba(245,245,245,1.00);
}
