@charset "utf-8";
#web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.goods-item {
    position: relative;
	margin-left:8%;
	margin-right:8%;
    padding-top: 8%;
	padding-bottom: 3%;
    margin-bottom: 5%;
	margin-top: 10%;
    text-align: center;
    background: White;
	cursor:pointer;
}
.page {
	margin-bottom: 1%;
}
body{
	   background:linear-gradient(to top,black,rgb(5,40,90)50%,rgb(28,72,137));
}
.up-hover-shadow {
    transition: transform .3s ease-in-out, box-shadow .3s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;
}

.up-hover-shadow:hover {
    box-shadow: 0 10px 50px rgba(35, 35, 35, .25);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px)
}
.prolist{
	margin-left:8%;
	margin-right:8%;
	margin-top:2%;
	background:#f2f2f2;
}
.btnlist{
	padding-top: 2%;
	margin-left:8%;
	margin-right:8%;
	margin-bottom:2%;
	background:#f2f2f2;
}
.productdiv {

}
.blank{
	background-image:url("../images/productblank.png");
	height: 200px;
}
.blank-word{
	color: White;
	position: relative;
	font-size:60px;
	height: 200px;
	margin-left:10%;
	line-height:300px;
	font-family: sans-serif;
}
.product{
	border: 2px solid rgba(0,0,0,1.00);
}
.price{
	font-size:1.3vw;
}
.title{
	font-size:1.9vw;
}

