<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LumWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page> 
    <error-code>404</error-code> 
    <location>/404.html</location> 
</error-page> 
    <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>web.UserServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user.do/*</url-pattern>
   </servlet-mapping>
   <servlet>
   	<servlet-name>ProductServlet</servlet-name>
   	<servlet-class>web.ProductServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>ProductServlet</servlet-name>
   	<url-pattern>/product.do/*</url-pattern>
   </servlet-mapping>
	<servlet>
   	<servlet-name>CartServlet</servlet-name>
   	<servlet-class>web.CartServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>CartServlet</servlet-name>
   	<url-pattern>/cart.do/*</url-pattern>
   </servlet-mapping>
   	<servlet>
   	<servlet-name>ManagerServlet</servlet-name>
   	<servlet-class>web.ManagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>ManagerServlet</servlet-name>
   	<url-pattern>/admin/manager.do/*</url-pattern>
   </servlet-mapping>
    <servlet>
   	<servlet-name>ArticleServlet</servlet-name>
   	<servlet-class>web.ArticleServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>ArticleServlet</servlet-name>
   	<url-pattern>/article.do/*</url-pattern>
   </servlet-mapping>
       <servlet>
   	<servlet-name>OrderServlet</servlet-name>
   	<servlet-class>web.OrderServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>OrderServlet</servlet-name>
   	<url-pattern>/order.do/*</url-pattern>
   </servlet-mapping>
</web-app>